/Xilinx/isework/
/Xilinx/xstwork/
/Xilinx/iseconfig/nexysterm.projectmgr
/Xilinx/iseconfig/*.xreport

/picoblaze/assembler/CONSTANT.TXT
/picoblaze/assembler/LABELS.TXT
/picoblaze/assembler/*.DAT
/picoblaze/assembler/NTERM.*
